const fs = require('fs');
const readline = require('readline');
const path = require('path');




arrayString = [];
{{#log_tags}} 
arrayString.push("{{.}}");
{{/log_tags}}


devices=process.argv[2]

function processLineByLine(file, arrayTags) {

    
    pathFile=path.join(__dirname,'logs','devices-logs',file)


    const fileStream = fs.createReadStream(pathFile);

    const readInterface = readline.createInterface({
        input: fileStream,
        console: false
    });

    //Heatmap-Log
    readInterface.on('line', function(line) {
    
        for(let val of arrayTags) {
            if(line.includes(val)){
                fs.appendFileSync(path.join(__dirname,'logs','devices-logs',"output-"+file), line.toString() + "\n");
            }
        }
        
        
    });

}



for (let step = 1; step <= devices; step++) {

    processLineByLine("log-android"+step+".txt", arrayString);
    console.log("Filtering finished in "+"log-android"+step+".txt");
  }

console.log("The filtered logs have been stored in -------> /logs/devices-logs/")

