#! /bin/bash

####TESTS APIPECKER#####

{{#tests}} 

echo "------ Starting test -> {{{id}}} ------"
npx apipecker {{{concurrentUsers}}} {{{iterations}}} {{{delay}}} "{{{url}}}" -v  2>&1 | tee ../logs/{{{id}}}.txt
echo "------ Finished test -> {{{id}}} ------"

{{/tests}}